body {

  padding-top: 5rem;
}

.container{

    background-color: #c8ffff;
    width: 50%;
    border-radius: 3px;
   }

.starter-template {
    color: black;
    background-color: #white;
    padding: 3rem 1.5rem;

}